@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

hr {
  border-top: 1px dashed white;
}
.hr-dot {
  border-top: 1px dashed;
}
.hr-dots {
  border: 1px dashed;
}
.ht-dots {
  border-left: 1px dashed;
  height: 850px;
}
